---
// Componente para mostrar un banner de "P치gina en construcci칩n"
// Se puede eliminar f치cilmente cuando ya no sea necesario
---

<div class="bg-[#1a232f]/70 text-white text-sm py-2">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <div class="inline-flex items-center justify-center">
      <span class="text-[#8c92ac]">游뚾</span>
      <span class="text-white ml-2">P치gina en construcci칩n desarrollado por </span>
      <a href="https://hernanespinozadev.website/" target="_blank" class="text-[#009dff] hover:underline font-medium mx-1">
        HernanEspinozaDev
      </a>
      <span class="text-white"> de </span>
      <a href="https://hotusoft.com/" target="_blank" class="inline-flex items-center ml-1 hover:opacity-90 transition-opacity">
        <img src="/images/branding/HotuSoftLogoLarge.webp" alt="HOTUSOFT" class="h-5" />
      </a>
      <span class="text-[#8c92ac] ml-2">游뚾</span>
    </div>
  </div>
</div>
